h1.text-center Hello Administrator!
p
    | If you are reading it you are using an Administrator account.
p
    | It doesn't do much right now, this is a stripped down version of the Administrator page of
    | my project. Basically this will be the dashboard or your site.
p.invitation Please go ahead and visit our 
    a(href="/video") video for the Administrator
    | .