.container    
    h1.text-center Hello Student!
    p
        | If you are reading it you are using a Student account.
    p
        | It doesn't do much right now, this is a stripped down version of the Student page of
        | my project. This could be the page of your user, any registered regular user will end here.
    p.invitation Please go ahead and visit our 
        a(href="/video") video for the Student
        | .