h1.text-center Hello Teacher!
p
    | If you are reading it you are using a Teacher account.
p
    | It doesn't do much right now, this is a stripped down version of the Teacher page of
    | my project. Basically this could be the page of your employees or your content creators.
p.invitation Please go ahead and visit our 
    a(href="/video") video for the Teacher
    | .